<!doctype html>
<html lang="pt-BR" dir="ltr" prefix="og: http://ogp.me/ns#">

<head>
{% block header %}
{% endblock %}
</head>

<body class="w-100 sans-serif">
{% block body %}
{% endblock %}
</body>
</html>
