{% extends "cart/base.html.twig" %}

{% block main %}
	<section class="center pa3 cf">
		<h2>Boleto Bancário</h2>
		<p><a href="{{paymentLink}}" target="_blank">Imprimir Boleto</a></p>
	</section>
{% endblock %}
