{% extends "cart/base.html.twig" %}

{% block main %}
	<section class="center pa3 cf">
		{% if cart.items is empty %}
		<p>Seu carrinho de compras esta vazio.</p>
		{% else %}
		<table class="w-100 collapse ba br2 b--black-10 pv2 ph3">
			<tr class="striped--light-gray ">
				<th class="pa3"></th>
				<th class="pa3">Produto</th>
				<th class="pa3">Preço</th>
			</tr>

			{% for i,p in cart.items %}
			<tr class="striped--near-white">
				<td class="tc pa2">
					<form class="di" method="post" action="/delete.php">
						<input type="hidden" name="idx" value="{{i}}" />
						<input type="submit" value="x" />
					</form>
				</td>
				<td class="tc pa2">{{p.product.name}}</td>
				<td class="tc pa2">R$ {{p.product.price}}</td>
			</tr>
			{% endfor %}

			<tr class="striped--near-white">
				<td class="tc fw9 pa2" colspan="2">frete</td>
				<td class="tc fw9 pa2">R$ 100,00</td>
			</tr>

			<tr class="striped--near-white">
				<td class="tc fw9 pa2"  colspan="2">total</td>
				<td class="tc fw9 pa2">R$ {{ 100 }}</td>
			</tr>
		</table>

		<div>
			<form method="post" action="/shipping.php">
				<p class="fw9 purple tr">
					<button class="purple b ph3 pv2 input-reset ba b--purple bg-transparent grow pointer f6 dib" type="submit">Pagar</button>
				</p>
			</form>
		</div>
		{% endif %}
	</section>
{% endblock %}
