{% extends "cart/base.html.twig" %}

{% block main %}
	<section class="center pa3 cf">
		<h2>Pagamento</h2>
		<form id="boletoform" method="post">
			<input id="sender_hash" type="hidden" name="sender_hash" value="" />
		</form>
		<button onclick="boleto(PagSeguroDirectPayment.getSenderHash())">Boleto Bancário</button>
	</section>
{% endblock %}
