{% extends "base.html.twig" %}
{% set page_metatitle = "Blog | #{post.title}" %}
{% set page_metadescription = post.description %}

{% set ogtype='post' %}

{% block main %}
<div class="mw8 center ph2 ph3-ns ph5-l">
<div class="cf">

	<main class="fl w-100 w-80-l">
		<article>
			<header>
				<h2 class="purple f2 pb0 mb0 roboto-slab">{{ post.title }}</h2>
				<div><time datetime="{{post.dateTime.format('Y-m-d')}}">{{post.formatedDate}}</time></div>
			</header>
			<div class="f5">
			{{ post.content|raw }}
			</div>
		</article>
	</main>

	<aside class="fl w-100 w-20-l">
		<h3>Posts por Data:</h3>
		<ol class="list nested-list-reset">
			<li><a class="link purple hover-light-purple underline-hover" href="">2019</a>
				<ol>
					<li><a class="link purple hover-light-purple underline-hover" href="">Mar / 2019</a></li>
					<li><a class="link purple hover-light-purple underline-hover" href="">Fev / 2019</a></li>
					<li><a class="link purple hover-light-purple underline-hover" href="">Jan / 2019</a></li>
				</ol>
			</li>
			<li><a class="link purple hover-light-purple underline-hover" href="">2019</a></li>
			<li><a class="link purple hover-light-purple underline-hover" href="">2019</a></li>
		</ol>
	</aside>

</div>
</div>

{% endblock %}
