{% extends "base.html.twig" %}

{% set page_metatitle = "Blog | #{post.title}" %}
{% set page_metadescription = post.description %}

{% set ogtype='post' %}

{% block main %}

<div class="pa3 ph4-ns ph6-l bb b--black-10">
<header>
	<h2>{{ post.title }}</h2>
</header>

{{ post.content|raw }}

</div>

{% endblock %}
