{% extends "base.html.twig" %}

{% set page_metatitle = "Blog | #{post.title}" %}
{% set page_metadescription = post.description %}

{% set ogtype='post' %}

{% block main %}

<nav aria-label="breadcrumb">
	<ol>
		<li><a href="/" title="Página inicial Miaversa">Miaversa</a></li>
		<li><a href="/blog/" title="Blog da Miaversa">Blog</a></li>
		<li aria-current="page">{{ post.title }}</li>
	</ol>
</nav>

<h1>{{ post.title }}</h1>

{{ post.content|raw }}

{% endblock %}
