{% extends "base.html.twig" %}

{% set page_metatitle = "Blog | #{post.title}" %}
{% set page_metadescription = post.description %}

{% set ogtype='post' %}

{% block main %}
<div class="mw8 center ph3-ns">
<div class="cf ph2-ns">

	<main class="fl w-100 w-80-l pa2">
		<header>
			<h2>{{ post.title }}</h2>
		</header>

		{{ post.content|raw }}
	</main>

	<aside class="fl w-100 w-20-l pa2">
		<h3>Posts por Data:</h3>
		<ol class="list nested-list-reset">
			<li><a class="link light-red hover-red" href="">2019</a>
				<ol>
					<li><a class="link light-red hover-red" href="">Mar / 2019</a></li>
					<li><a class="link light-red hover-red" href="">Fev / 2019</a></li>
					<li><a class="link light-red hover-red" href="">Jan / 2019</a></li>
				</ol>
			</li>
			<li><a class="link light-red hover-red" href="">2019</a></li>
			<li><a class="link light-red hover-red" href="">2019</a></li>
		</ol>
	</aside>

</div>
</div>

{% endblock %}
