<!doctype html>
<html lang="pt-BR" dir="ltr" prefix="og: http://ogp.me/ns#">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{page_metatitle}}</title>
    <meta name="description" content="{{page_metadescription}}" />

    {%- include 'components/open_graph.html.twig' %}
    {%- include 'components/twitter.html.twig' %}
	{%- include 'components/ld.html.twig' %}
</head>

<body>

<h1><a href="/">{{site.name}}</a></h1>

{% include 'components/menu.html.twig' %}

{% block main %}
{% endblock %}

</body>
</html>
