{% extends "base.html.twig" %}

{% set page_metatitle = "#{site.name} | #{page.name}" %}
{% set page_metadescription = page.description %}

{% set ogtype='page' %}

{% block main %}

<div class="pa3 pa5-ns">

{{ page.content|raw }}

</div>
{% endblock %}
