{% extends "base.html.twig" %}

{% set page_metatitle = "#{site.name} | #{page.name}" %}
{% set page_metadescription = page.description %}

{% set ogtype='page' %}

{% block main %}
<main class="overflow-auto">
	<header class="ph3 ph4-ns ph6-l">
		<h2 class="light-red">{{page.name}}</h2>
	</header>
	<div class="ph3 ph4-ns ph6-l">
	{{ page.content|raw }}
	</div>
</main>
{% endblock %}
