{% extends "base.html.twig" %}
{% set page_metatitle = "#{site.name} | #{page.name}" %}
{% set page_metadescription = page.description %}
{% set ogtype='page' %}



{% block main %}
<main class="mw8 center ph2 ph3-ns ph5-l">
	<header>
		<h2 class="purple">{{page.name}}</h2>
	</header>
	<div class="f3">
	{{ page.content|raw }}
	</div>
</main>
{% endblock %}
