{% extends "base.html.twig" %}
{% set page_metatitle = "#{site.name} | #{page.name}" %}
{% set page_metadescription = page.description %}
{% set ogtype='page' %}

{% block main %}
	<main class="mw7 center ph3">
		<header>
			<h2 class="purple f2">{{page.name}}</h2>
		</header>
		<div class="f4">
		{{ page.content|raw }}
		</div>
	</main>
{% endblock %}
