{% extends "base.html.twig" %}

{% set page_metatitle = "#{site.name} | #{product.name}" %}
{% set page_metadescription = product.description %}

{% set ogtype='product' %}

{% block main %}
<div class="columns">
<div class="column is-12">

<h1>{{ product.name }}</h1>
<p><a href="/{{product.slug}}.pdf">PDF</a></p>
<p>Valor: R$ {{product.price|number_format(2, ',', '.')}}</p>

<form method="post" action="/checkout/cart/{{product.slug}}">
	<input class="button is-primary" type="submit" value="Comprar" />
</form>

</div>
</div>
{% endblock %}
