{% extends "base.html.twig" %}

{% set page_metatitle = "#{site.name} | Pesquisa" %}
{% set page_metadescription = 'encontre o que voce procura' %}

{% set ogtype='search' %}

{% block main %}
<h1>Pesquisa</h1>

<form method="get">
	<input type="text" name="s"/>
	<input type="submit"/>
</form>

<div id="search-results">
</div>

{% endblock %}

{% block lastscript %}
<script type="text/javascript">
	var searchItems = {{items|raw}};
	
	var searchOptions = {
		shouldSort: true,
		includeScore: true,
		includeMatches: true,
		threshold: 0.6,
		location: 0,
		distance: 100,
		maxPatternLength: 32,
		minMatchCharLength: 1,
		keys: ['title', 'description']
	};
</script>
<script src="/assets/js/fuse.min.js"></script>
<script src="/assets/js/app.js"></script>
{% endblock %}